<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{webjars/picocss__pico/2.0.6/css/pico.min.css}"/>
    <script th:src="@{/webjars/htmx.org/1.9.12/dist/htmx.min.js}" defer></script>
    <title>Spring Boot Xhtml</title>
</head>
<body>
<main class="container">
    <h1>Server refresh</h1>
    <div id="notifications" th:fragment="notifications" hx-swap-oob="true">
        <input type="text" placeholder="Notifications appear here" readonly/>
    </div>
    <div id="search-servers-input" th:fragment="search-servers-input" hx-swap-oob="true">
        <input type="text" placeholder="Search servers"
            style="width: 33%;"
            name="search"
            hx-post="/servers"
            hx-trigger="keyup changed delay:300ms"
            hx-target="#servers-table"
            hx-indicator="#search-servers-indicator"
            />
        <img id="search-servers-indicator" class="htmx-indicator" src="/svg-loaders/tail-spin.svg">
    </div>
    <div id="servers-table" hx-get="/servers" hx-trigger="load">
        Loading servers 
        <img class="htmx-indicator" src="/svg-loaders/tail-spin.svg">
    </div>
    <div style="text-align: end;">
        <span 
            style="width: fit-content;"
            role="button"
            class="outline"
            hx-get="/servers?refresh=true" 
            hx-target="#servers-table"
            hx-disabled-elt="this"
            hx-indicator="#refresh-servers-indicator"
            >
            Refresh server list
            <img id="refresh-servers-indicator" class="htmx-indicator" src="/svg-loaders/tail-spin.svg">
        </span>
    </div>
</main>
</body>
</html>
